.Weather {
  border: 1px solid #dadde1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 16px;
  border-radius: 6px;
  color: rgb(60, 60, 60);
  background-color: #e8daee;
}

.Weather h1 {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin: 20px 0 7px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .iconweather {
  height: 120px;
  margin-right: 10px;
  width: 120px;
  display: inline-block;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 58px;
  line-height: 64px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Weather .float-left {
  float: left;
}

.Weather .btn {
  background-color: #453f76;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Weather .btn:hover {
  background-color: white;
  color: rgb(33, 33, 33);
}

.WeatherForecastIcon {
  height: 55px;
  width: 55px;
}
